<div class="menus-container">
    <div class="menu-row">
        <div class="menu-container-left">
            <app-styled-left-menu></app-styled-left-menu>
        </div>
        <div class="menu-container-right">
            <app-styled-right-menu></app-styled-right-menu>
        </div>
    </div>
    <div class="menu-row">
        <div class="menu-container-left">
            <app-styled-otleft-menu></app-styled-otleft-menu>
        </div>
        <div class="menu-container-right">
            <app-styled-otright-menu></app-styled-otright-menu>
        </div>        
    </div>
    <!--
    <div class="menu-row">
        <div class="menu-container-left">
                <app-styled-topleft></app-styled-topleft>
        </div>
        <div class="menu-container-right">
        </div>
    </div>
    -->
</div>
