<!-- Bootstrap --
<nav bb-nav-bar
	#navBar="bbNavBar"
	[bb-css-map]="bootstrapNavbarCssMap"
	[panelAnimations]="navBarAnimations">
	
	<label bb-brand class="text-light">My NavBar</label>

	<ul *bb-nav-begin class="navbar-nav">
		<li class="nav-item"><a class="nav-link text-light" routerLink="/collapsing">Collapsing Menu</a></li>
		<li class="nav-item"><a class="nav-link text-light" routerLink="/dropdown">Dropdown Menu</a></li>
		<li class="nav-item"><a class="nav-link text-light" routerLink="/draganddrop">Drag And Drop</a></li>
	</ul>
	<ul *bb-nav-end class="navbar-nav">
		<li><a class="nav-link text-light" routerLink="/draganddrop">Right Thing 1</a></li>
		<li><a class="nav-link text-light" routerLink="/draganddrop">Right Thing 2</a></li>
	</ul>

	<div bb-nav-toggle class="navbar-toggler">
		<span class="navbar-toggler-icon text-light"></span>
	</div>	

</nav>
!---->

<!-- Bulma -->
<nav bb-nav-bar
	#navBar="bbNavBar"
	expandOnQuery="(min-width : 1088px)"
	[bb-css-map]="bulmaNavbarCssMap"
	[panelAnimations]="navBarAnimations">

	<label bb-brand class="navbar-item has-text-white">My NavBar</label>
	
	<div *bb-nav-begin class="is-flex-desktop">
		<a class="navbar-item has-text-white" routerLink="/collapsing">Collapsing Menu</a>
		<a class="navbar-item has-text-white" routerLink="/dropdown">Dropdown Menu</a>
		<a class="navbar-item has-text-white" routerLink="/draganddrop">Drag And Drop</a>
	</div>
	<div *bb-nav-end class="is-flex-desktop">
		<a class="navbar-item has-text-white" routerLink="/draganddrop">Right Thing 1</a>
		<a class="navbar-item has-text-white" routerLink="/draganddrop">Right Thing 2</a>
	</div>

	<div bb-nav-toggle class="navbar-burger burger has-text-white">
		<span></span>
		<span></span>
		<span></span>
	</div>

</nav>
<!---->

<!-- Foundation --
<nav bb-nav-bar
	#navBar="bbNavBar"
	[bb-css-map]="foundationNavbarCssMap"
	[panelAnimations]="navBarAnimations"
	[bb-state-css-map]="foundationNavbarStateCssMap">

	<span bb-brand class="menu-text">My NavBar</span>
	
	<ul *bb-nav-begin class="vertical large-horizontal menu">
		<li><a routerLink="/collapsing">Collapsing Menu</a></li>
		<li><a routerLink="/dropdown">Dropdown Menu</a></li>
		<li><a routerLink="/draganddrop">Drag And Drop</a></li>
	</ul>
	<ul *bb-nav-end class="vertical large-horizontal menu">
		<li><a routerLink="/draganddrop">Right Thing 1</a></li>
		<li><a routerLink="/draganddrop">Right Thing 2</a></li>
	</ul>

	<div bb-nav-left-toggle class="navbar-toggler">
		<button class="menu-icon"></button>
	</div>

</nav>
!-- -->

	

<div class="content">
	<router-outlet></router-outlet>
</div>