<div class="menus-container">
  <div class="menu-row">
    <div class="menu-container-left">
      <app-ltstyled-menu></app-ltstyled-menu>
    </div>
    <div class="menu-container-mid">
      <app-mtstyled-menu></app-mtstyled-menu>
    </div>
    <div class="menu-container-right">
      <app-rtstyled-menu></app-rtstyled-menu>
    </div>
  </div>
  <div class="menu-row">
    <div class="menu-container-left">
      <app-lbstyled-menu></app-lbstyled-menu>
    </div>
    <div class="menu-container-mid">
      <app-mbstyled-menu></app-mbstyled-menu>
    </div>
    <div class="menu-container-right">
      <app-rbstyled-menu></app-rbstyled-menu>
    </div>
  </div>
</div>