/* You can add global styles to this file, and also import other style files */
@import url("./css/menu.css");
@import url("./css/styles.css");

.inherit-padding {
    padding: inherit;
}

/* Testing styles, REMOVE */
div.alt-panel {
    border: 1px black solid;
    height: 250px;
}

div.bb-open {
    /* height: 250px; */
}

div.bb-closed {
    /* height: 0px; */
}
